# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/

# Database files
*.sqlite3
*.sqlite
*.db

# Logs
*.log

# Local environment variable files
.env
